<h1><%= @name %> の過去すべての対戦成績</h1>

<p>総対戦数: <%= @total_matches %></p>
<p>四麻対戦数: <%= @matches_yonma %></p>
<p>四麻順位内訳: </p><% @rank_counts_yonma.each do |position, count| %>
  <p><%= "#{position}位 #{count}回" %></p>
<% end %></p>
<p>四麻平均順位: <%= @average_rank_yonma %></p>
<p>四麻スコア合計: <%= @score_yonma %></p>
<p>四麻平均スコア: <%= @average_score_yonma %></p>
<p>三麻対戦数: <%= @matches_sanma %></p>
<p>三麻平均順位: <%= @average_rank_sanma %></p>
<p>三麻スコア合計: <%= @score_sanma %></p>
<p>三麻平均スコア: <%= @average_score_sanma %></p>
<p>三麻順位内訳: </p><% @rank_counts_sanma.each do |position, count| %>
  <p><%= "#{position}位 #{count}回" %></p>
<% end %>
<!-- 他の詳細情報を表示 -->
<!-- グラフを表示するためのHTML要素 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart"></canvas>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['1位', '2位', '3位', '4位'],
      datasets: [{
        label: '四麻順位内訳',
        data: [<%= @rank_counts_yonma[1] %>, <%= @rank_counts_yonma[2] %>, <%= @rank_counts_yonma[3] %>, <%= @rank_counts_yonma[4] %>],
        backgroundColor: ['green', 'blue', 'yellow', 'red']
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false, // アスペクト比を維持しない
      width: 10, // グラフの幅を設定
      height: 10, // グラフの高さを設定
    }
  });
</script>