<!-- app/views/tenho_sokais/show.html.erb -->
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<h1><%= @name %> の過去すべての対戦成績</h1>

<p>総対戦数: <%= @total_matches %></p>
<p>平均順位: <%= @average_rank %></p>
<p>スコア合計: <%= @total_score %></p>
<p>平均スコア: <%= @average_score %></p>
<!-- 他の詳細情報を表示 -->